.home {
    display: flex;
    margin: 1rem 0;
    align-items: center;
  }
  .insta-icon {
    padding: 0 1rem;
    border-right: 2px solid #000
  }
  .insta-functions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .insta-heart {
    padding: 0 2rem;
  }
  .insta-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main {
    border-bottom: 2px solid #d3d3d3;
  }
  .insta-nav a {
    color: #000;
    text-decoration: none;
  }