{% extends 'base.html'%}
{% load bootstrap4 %}

{% block content %}
<div class="container">
<div class="card mb-3" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://bit.ly/2vn3ruc" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="container">
            <form class="form-horizontal" role="form" method="POST">

            </form>
        </div>
    </div>
    </div>
</div>
</div>
<div>
{% endblock %}