<!--
<nav class="navbar navbar-light bg-light">
<div class="">
            {% if user.is_authenticated %}
            <ul>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="">Home</a>
                  </li>
                  <li>
                    <a href="/accounts/password/change">Change Password</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>

            {% endif %}
          </div>
  <a class="navbar-brand">Instagram</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
   
</nav>
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/2ae247d80b.js" crossorigin="anonymous"></script>
    <title>Document</title>

  <style>
      .navbar{
          padding-top: 2%;
          background-color: #FFFFFF;
          border: #FFFFFF;
      }
    .navbar-brand{
       color:  #FF008C;
      }
    .btny{
        color: #FF008C;
    }
    .container{
        margin: 4%;
        padding-right: 10%;
        padding-left: 10%;
    }
  </style>
</head>
<body>
<div class="container px-2">
        <div class="main">
          <div class="container">
            <div class="insta-nav d-flex justify-content-between navbar-light bg-light">
              <a href="#">
              <div class="home d-flex">
                <p class="insta-icon px-3"><i class="fab fa-instagram fa-3x"></i></p>
                <a href=" #" class ="px-3">Instagram</a>
              </div>
              </a>
              <div class="search-form px-3">
                <input account_home="text" placeholder="Search" class="text-center px-3" />
              </div>
              <div class="insta-functions d-flex">
                <p><i class="far fa-compass fa-2x"></i></p>
                <p class="insta-heart"><i class="far fa-heart fa-2x px-3"></i></p>
                <p><a href="{% url 'image_form' %}"><i class="fas fa-plus fa-2x"></i></a></p>
                <div class="">
            {% if user.is_authenticated %}
            <ul>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="">Home</a>
                  </li>
                  <li>
                    <a href="/accounts/password/change">Change Password</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>

            {% endif %}
          </div>
              </div>
            </div>
          </div>
        </div>
</div>
</body>
</html>